.TopBalancebar {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 999px;
    font-size: 12px;
    border: 1px solid black;
    position: absolute;
    right:20px;
    top:30px;
}

.TopBalancebarBalances {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.TopBalanceBarToken {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 999px;
}

.TopBalanceBarIcon {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: yellow;
    border: 1px solid black;
    right: -20px;
    border-radius: 999px;
}