.Wallet02MnemonicCol {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 5px 0px #CB9C00;
}

.Mnemonic_p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.Mnemonic_span {
    margin-left: 10px;
}