@import './styles/MainPageStyle.scss';
@import './styles/WalletPageStyle.scss';

@import './styles/components/BottomNavbarStyle.scss';
@import './styles/components/WalletSwitchButton.scss';

@import './styles/components/WalletMakeStyle.scss';
@import './styles/components/WalletTabsStyle.scss';

@import './styles/components/WalletPageComponents/Wallet03Mnemonic.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
