@import './theme/GlobalStyles/BottomNavbarStyle.scss';

@import './theme/PageStyles/MainPageStyle.scss';

@import './theme/PageStyles/WalletPageStyle.scss';
@import './theme/ComponentStyles/WalletStyles/Wallet00TabStyle.scss';
@import './theme/ComponentStyles/WalletStyles/Wallet01CreateStyle.scss';
@import './theme/ComponentStyles/WalletStyles/Wallet02Mnemonic.scss';
@import './theme/ComponentStyles/WalletStyles/WalletMakeStyle.scss';
@import './theme/ComponentStyles/WalletStyles/WalletPinComponentStyle.scss';
@import './theme/ComponentStyles/WalletStyles/WalletSwitchButton.scss';
@import './theme/ComponentStyles/WalletStyles/WalletTabsStyle.scss';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
