.CardContainer {
    background-color: #EDBE00;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.CardRow {
    background-color: #EDBE00;
    margin-bottom: 10px;
}

.CardCol {
    background-color: #EDBE00;
}

.CardDiv {
    background-color: #EDBE00;
    display: flex;
    justify-content: space-evenly;
}

.CardFront {
    width: 110px;
    height: 161px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #CB9C00;
    box-shadow: 0px 5px 0px #CB9C00;
}

.CardBack {
    width: 110px;
    height: 161px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 0px #CB9C00;
}

.CardImage {
    overflow: hidden;
    position: absolute;
    width: 108px;
    height: 159px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}